{% extends 'MillarmonyUsersBundle::layout.html.twig' %}

{% block title %}Informations utilisateur{% endblock %}

{% block content %}
    <div class="container registration">

        <div class="row">

            <div class="box">

                <div class="alert alert-success text-center">Les informations ont bien été modifiées.</div>

                <div class="text-center">
                    <p><strong>Pseudo :</strong><br />
                        <em>{{ user.username }}</em></p>
                    <br />
                    <p><strong>Adresse e-mail :</strong><br />
                        <em>{{ user.email }}</em></p>
                    <br />
                </div>

                <div class="form-group text-center">
                    <a href="{{ path('millarmony_site_homepage') }}" class="btn btn-secondary" style="border: 1px solid; border-radius: 5px; color: black">Accueil</a>
                    <a href="{{ path('millarmony_admin_manage') }}" class="btn btn-secondary" style="border: 1px solid; border-radius: 5px; color: black">Administration</a>
                </div>

            </div>

        </div>

    </div>
{% endblock %}
